.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modalContent {
    margin-left: 25%;
    margin-top: 250px;
    display: inline-flex;
    width: 50%;
    background-color: #323639;
    padding: 20px;
}

.modalElement {
    margin: 0 3px 0 3px;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button {
    background-color: #5b5e62;
    color: white;
}

button:hover {
    background-color: #222222;
}